<div class="uk-section uk-padding-remove-bottom" id="footer">
    <div class="uk-container footer-sponsors">

        <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
            <div>
                <div class="uk-text-center uk-card"><strong>Technical Co-Sponsors</strong></div>
            </div>
        </div>

          <div class="uk-child-width-1-5 uk-grid-small uk-padding-small" uk-grid>
              <div class="uk-text-center uk-card">
                    <a href="http://www.ifip.org/">
                        <img
                          src="images/logo_ifip.gif"
                          alt="" width="130"
                          style="padding-top: 9px; "
                          longdesc="https://www.ifip.org"></a>
              </div>

              <div class="uk-text-center uk-card">
                <a href="https://www.computer.org">
                        <img
                          src="images/1200px-IEEE_Logo.png" alt="" width="130"
                          style="padding-top: 9px; " longdesc="https://www.computer.org"></a>
              </div>
              
              <div class="uk-text-center uk-card">
                 <a href="https://comsoc.org">
                        <img
                          src="images/ieee-comsoc.png"
                          alt="" width="115"
                          style="padding-top: 9px; "
                          longdesc="https://comsoc.org"></a>
              </div>
              
              <div class="uk-text-center uk-card">
                 <a href="https://www.acm.org">
                        <img
                          src="images/ACM-In-Cooperation_small.gif" alt="" width="115"
                          style="padding-top: 9px; " longdesc="https://www.acm.org"></a> 
              </div>

              <div class="uk-text-center uk-card">
                <a href="https://www.acm.org">
                        <img
                          src="images/sigcomm-dropshadow-spaced.png" alt="" width="115"
                          style="padding-top: 9px; " longdesc="https://www.sigcomm.org"></a>
              </div>


          </div>


          <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
            <div>
              <div class="uk-text-center uk-card"><strong>Patrons</strong></div>
            </div>
            <div></div>
          </div>
          
          <div class="uk-child-width-1-2 uk-grid-small uk-padding-small" uk-grid>
              

              <div class="uk-text-center uk-card" >
                <span class="cn-patron cn-blue">SILVER</span>
                <div class="uk-card">
                  <a target="_" href="">
                    <img
                      src="images/Intracom_logo.jpg"
                      alt="" width="200"
                      style="padding-top: 9px; "></a>

                  <span style="padding: 20px"></span>
                  <a target="_" href="https://www.futurewei.com/">
                    <img
                      src="images/01_Futurewei_Logo_RGB_PNG.png"
                      alt="" width="200"
                      style="padding-top: 9px; "></a>
                </div>
              </div>

              <div class="uk-text-center uk-card" >
                <span class="cn-patron cn-blue">BRONZE</span>
                <div class="uk-card">
                  <a target="_" href="">
                    <img
                      src="images/WingsLogo.jpg"
                      alt="" width="130"
                      style="padding-top: 9px; "></a>

                  <span style="padding: 20px"></span>
                  <a target="_" href="">
                    <img
                      src="images/ipto_english.jpg"
                      alt="" width="130"
                      style="padding-top: 9px; "></a>
                </div>
              </div>

          </div>


           <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
            <div>
              <div class="uk-text-center uk-card"><strong>Organisers</strong></div>
            </div>
            <div></div>
          </div>
          
          <div class="uk-child-width-1-3 uk-grid-small uk-padding-small" uk-grid>
              <div class="uk-text-center uk-card">
                <span class="cn-patron cn-blue"></span>
              </div>

              <div class="uk-text-center uk-card">
                <span class="cn-patron cn-blue">University of Macedonia, Greece</span>
                <div class="uk-card">
                  <a target="_" href="https://www.uom.gr/">
                    <img
                        src="images/University_of_Macedonia_logo.png"
                        alt="" width="180"
                        style="padding-top: 9px; "></a>
                </div>
              </div>

              <div class="uk-text-center uk-card">
                <span class="cn-patron cn-blue"></span>
              </div>
          </div>
        
          <!--
           <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
            <div>
              <div class="uk-text-center uk-card"><strong>Virtual Event Organiser</strong></div>
            </div>
            <div></div>
          </div>
          
          <div class="uk-child-width-1-5 uk-grid-small uk-padding-small" uk-grid>
              <div class="uk-text-center uk-card">
                <span class="cn-patron cn-blue"></span>
              </div>

              <div class="uk-text-center uk-card">
                <span class="cn-patron cn-blue"></span>
              </div>

              <div class="uk-text-center uk-card">
                <span class="cn-patron cn-blue">DNAC</span>
                <div class="uk-card">
                  <a target="_" href="https://www.dnac.org/">
                        <img src="images/DNAC.png"
                             alt="" width="260"
                             style="padding-top: 9px; "></a>
                </div>
              </div>

              <div class="uk-text-center uk-card">
                <span class="cn-patron cn-blue"></span>
              </div>

              <div class="uk-text-center uk-card">
                <span class="cn-patron cn-blue"></span>
              </div>

          </div>
          -->

    </div>

</div>

<div class="uk-section uk-padding-remove-vertical">
    <div class="uk-container uk-padding-remove-horizontal">
        <div class="footer-menu">
            <span class="cn-pad-left">&copy; CNSM 2022</span>
        </div>
    </div>
</div>
